discord==1.7.3
python-dotenv==0.19.1
requests~=2.26.0
emojis~=0.6.0
motor~=2.5.1
google-api-python-client
async-timeout
pymongo==3.12.2
requests==2.26.0
buttons==0.1.9
aiohttp==3.7.4.post0
dnspython==2.1.0
httplib2==0.20.2
